<header class="header">



<nav class="navbar navbar-expand navbar-dark bg-dark p-3">
    <a class="navbar-brand"> Meu Bankline </a>
    <div class="navbar-nav">
 


        <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active">Lancamentos</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="/cadastro" routerLinkActive="active">Cadastro</a>
        <a class="nav-item nav-link" routerLink="/planos-conta" routerLinkActive="active">Planos conta</a>


        <a class="nav-item nav-link" href="#" (click)="logout()">logout</a>

    </div>
    </nav> 
</header>
